<!-- heading -->
<app-section-head>who_am_i?</app-section-head>
<!-- content -->
<div class="row mt-5 justify-content-center">
    <div class="col-4 border">
    </div>
    <div class="col-5 border">
        <div class="content p-3">
            <h1>ABOUT ME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aliquam quidem maxime eius harum
                blanditiis cum ipsum, reprehenderit ipsam rerum laboriosam delectus dignissimos? Doloremque molestias
                architecto modi ab adipisci reiciendis natus, doloribus quidem labore incidunt rem non ducimus
                consectetur a velit excepturi aut dicta. Similique animi dignissimos rerum ea labore officia inventore,
                nemo repellat, exercitationem, non eum quas praesentium ipsam porro architecto vero eligendi voluptates
                corporis amet. Eligendi, commodi. Non laboriosam nesciunt debitis aliquam dignissimos obcaecati
                consequuntur quaerat labore tempora hic beatae odit natus cumque asperiores, quia ut quo earum
                consectetur?</p>
        </div>
    </div>
</div>