*{
    margin: 0;
    padding: 0;
}
.heading{
    margin-top:7rem ;
    padding: 0.5rem 0rem;
    border-radius: 2rem;
    background-color: white;
    div{
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;

    }
}