<div class="mask">
    <div class="row h-100  container mx-auto">
        <div class="col-12 col-md-4 col-lg-6 d-flex align-items-center justify-content-center">
            <div class="intro-text">
                <h2>Hi There,</h2>
                <h2 id="name">I'm Ajal Krishna</h2>
                <p>They call me <span id="role"> Full Stack Developer</span></p>
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-6 d-flex align-items-center justify-content-center">
            <div class="prof-img"></div>
        </div>
    </div>
</div>