<div class="container">
    <app-navbar></app-navbar>
    <section>
        <div id="home" style="height:100vh">
            <app-intro></app-intro>
        </div>
        <div id="about" style="height: 100vh;">
            <app-aboutme></app-aboutme>
        </div>
        <div class="border" id="skills" style="height: 100vh;">
            <app-skill></app-skill>
        </div>
        <div class="border" id="education" style="height: 100vh;">
            <app-education></app-education>
        </div>
        <div class="border" id="achivements" style="height: 100vh;">
            <app-achievement></app-achievement>
        </div>

    </section>
</div>
<div class="border" id="contacts" style="height: 100vh;">
    <app-contact></app-contact>
</div>